.jumbotron {
    background-image: url('./images/book.jpeg');
    background-repeat: repeat-x;
    height: 40vh;
    margin-top: 5px;
    padding: 0px;
    color: black;
}

body {
    font-family: 'Goudy Bookletter 1911' ;
    background: maroon;
    color: white;
}

.container {
    border: 5px solid black;
    margin-top: 10px;
}

th {
    color: white;
}

tr {
    color: white;
}